body  {background: url(https://6.viki.io/image/21bdaf0b4a4a40da9e5159c6e15e2b11.jpeg?s=900x600&e=t);}

h1 {text-align: center;
font-size: 300%;}
p {color: beige;
text-align: center;
background-color: black;

}
li {display: inline-block;
margin: 7px;

}